<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381705356400-f6hsuagr26jq95dujbqt8fpj7jv1tul6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381705356400-f6hsuagr26jq95dujbqt8fpj7jv1tul6</string>
	<key>API_KEY</key>
	<string>AIzaSyCqfb_ymUursgPumvBObXloczNKekE4nWk</string>
	<key>GCM_SENDER_ID</key>
	<string>381705356400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UlmgrenApps.Rooster</string>
	<key>PROJECT_ID</key>
	<string>roosterweb-908a5</string>
	<key>STORAGE_BUCKET</key>
	<string>roosterweb-908a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381705356400:ios:304de454ce200cc66960b5</string>
	<key>DATABASE_URL</key>
	<string>https://roosterweb-908a5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>